/* Playfair Display */
@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/Playfair_Display/PlayfairDisplay-Bold.woff2")
      format("woff2"),
    url("./fonts/Playfair_Display/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/Playfair_Display/PlayfairDisplay-BlackItalic.woff2")
      format("woff2"),
    url("./fonts/Playfair_Display/PlayfairDisplay-BlackItalic.woff")
      format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/Playfair_Display/PlayfairDisplay-Black.woff2")
      format("woff2"),
    url("./fonts/Playfair_Display/PlayfairDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/Playfair_Display/PlayfairDisplay-BoldItalic.woff2")
      format("woff2"),
    url("./fonts/Playfair_Display/PlayfairDisplay-BoldItalic.woff")
      format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/Playfair_Display/PlayfairDisplay-ExtraBold.woff2")
      format("woff2"),
    url("./fonts/Playfair_Display/PlayfairDisplay-ExtraBold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/Playfair_Display/PlayfairDisplay-Italic.woff2")
      format("woff2"),
    url("./fonts/Playfair_Display/PlayfairDisplay-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/Playfair_Display/PlayfairDisplay-Medium.woff2")
      format("woff2"),
    url("./fonts/Playfair_Display/PlayfairDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/Playfair_Display/PlayfairDisplay-ExtraBoldItalic.woff2")
      format("woff2"),
    url("./fonts/Playfair_Display/PlayfairDisplay-ExtraBoldItalic.woff")
      format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/Playfair_Display/PlayfairDisplay-Regular.woff2")
      format("woff2"),
    url("./fonts/Playfair_Display/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/Playfair_Display/PlayfairDisplay-MediumItalic.woff2")
      format("woff2"),
    url("./fonts/Playfair_Display/PlayfairDisplay-MediumItalic.woff")
      format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/Playfair_Display/PlayfairDisplay-SemiBoldItalic.woff2")
      format("woff2"),
    url("./fonts/Playfair_Display/PlayfairDisplay-SemiBoldItalic.woff")
      format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/Playfair_Display/PlayfairDisplay-SemiBold.woff2")
      format("woff2"),
    url("./fonts/Playfair_Display/PlayfairDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Lato */
@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-Bold.woff2") format("woff2"),
    url("./fonts/Lato/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-Black.woff2") format("woff2"),
    url("./fonts/Lato/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-BlackItalic.woff2") format("woff2"),
    url("./fonts/Lato/Lato-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-Regular.woff2") format("woff2"),
    url("./fonts/Lato/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato Hairline";
  src: url("./fonts/Lato/Lato-Hairline.woff2") format("woff2"),
    url("./fonts/Lato/Lato-Hairline.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-Light.woff2") format("woff2"),
    url("./fonts/Lato/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato Hairline";
  src: url("./fonts/Lato/Lato-HairlineItalic.woff2") format("woff2"),
    url("./fonts/Lato/Lato-HairlineItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-BoldItalic.woff2") format("woff2"),
    url("./fonts/Lato/Lato-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-Italic.woff2") format("woff2"),
    url("./fonts/Lato/Lato-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-LightItalic.woff2") format("woff2"),
    url("./fonts/Lato/Lato-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Cinzel_Decorative */
@font-face {
  font-family: "Cinzel Decorative";
  src: url("./fonts/Cinzel_Decorative/CinzelDecorative-Black.woff2")
      format("woff2"),
    url("./fonts/Cinzel_Decorative/CinzelDecorative-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cinzel Decorative";
  src: url("./fonts/Cinzel_Decorative/CinzelDecorative-Regular.woff2")
      format("woff2"),
    url("./fonts/Cinzel_Decorative/CinzelDecorative-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cinzel Decorative";
  src: url("./fonts/Cinzel_Decorative/CinzelDecorative-Bold.woff2")
      format("woff2"),
    url("./fonts/Cinzel_Decorative/CinzelDecorative-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
